body {
    padding-top: 100px;
}

#counter {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

button {
    line-height: 48px;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 30px;
}

.grid-box {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
    width: 60%;
    margin: 0 auto;
}

.background-blue {
    background-color: #1668c3;
}

.background-red {
    background-color: #ba0909;
}